<app-menu></app-menu>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="user-list.component.css">
</head>
<body>
<div class="purchase-request">
    <section class="heading">
      <span class="component-title">{{ title }}</span>
      <a [ngClass]="{'hidden': !showAddIcon}" routerLink="/user/create">
        <img width="20" height="20" src="assets/add-icon.png" title="Add New" />
  </a>
    </section>
    <table *ngIf="users" class="table table-sm table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Phone</th>
          <th>Email</th>
          <th>Reviewer</th>
          <th>Admin</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users  | orderBy: 'firstname': true" >
          <td>{{ user.username }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.lastname }}</td>
          <td>{{ user.phone}}</td>
          <td>{{ user.email }}</td>
          <td>
            <input type="checkbox" [(ngModel)]="user.reviewer" [disabled]="!canEdit()" (change)="updateRole()">
          </td>
          <td>
            <input type="checkbox" [(ngModel)]="user.admin" [disabled]="!canEdit()" (change)="updateRole()">
          </td>
          <td>
            <a routerLink="/user/detail/{{ user.id }}">
              <img
                width="20"
                height="20"
                src="assets/details.png"
                title="User Details"
              />
            </a>
            <a routerLink="/user/edit/{{ user.id }}">
              <img width="20" height="20" src="assets/pencil-icon.png" title="Edit User" />
            </a>
            <a routerLink="/request/user/{{ user.id }}">
              <img width="20" height="20" src="assets/elf.png" title="User Profile" />
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</body>


