body {
    font-family: Arial, sans-serif;
    color: aliceblue;
    margin: 0;
    padding: 0;
    
}

.product-carousel {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  .product-display {
    overflow: hidden;
    width: 100%; /* Adjust based on your layout needs */
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  button {
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    font-size: 24px;
    border: none;
    background-color: transparent;
    color-scheme: dark;
  }


.component-title{
    color:#f1f1f4;
    margin-bottom: 10px;
    font-size: 14pt;
}
.product-image {
    width: 100px;  /* Set width to your preference */
    height: auto;  /* Maintain aspect ratio */
    align-content: center;
  }
  .vertical-table {
    display: table;
    width: 50%; /* Adjust based on your preference */
  }
  
  .vertical-table-row {
    display: table-row;
  }
  
  .vertical-table-header, .vertical-table-cell {
    display: table-cell;
    padding: 8px;
    border: none;
    vertical-align: middle;
  }
  
  .vertical-table-header {
    background-color: #014043;
    font-weight: bold;
  }
 .purchase-request {
    width: 750px;
    margin: 50px auto;
    background: rgba(9, 46, 58, 0.75); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(254, 253, 253, 0.723);
}
.hidden {
    display: none;
}