body {
    font-family:Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin: 0;
    padding: 0;

}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    color: #f0f8ff;
    background: rgba(33, 8, 71, 0.75); /* Semi-transparent*/
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), /* Outer shadow for depth */
              inset 0px 1px 2px rgba(255, 255, 255, 0.8); /* Inner light for inset effect */
    border-radius: 10px;
    
}

.table table-sm {
    display: flex;
    flex-direction: column;
    color:aliceblue;
}

label {
    margin-bottom: 5px;
    font-size: 1.2em;
}

input[type="text"],
input[type="number"],
input[type="checkbox"],
textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #1c1136; 
    color: #f0f8ff; /* Light text color */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), /* More pronounced shadow on focus */
    inset 0px 1px 2px rgba(255, 255, 255, 0.8); /* Inner light for inset effect */
}



button {
    padding: 10px 20px;
    background-color: #311d63; /* Teal color for the button */
    color: #e4f9f5; /* Light teal text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #5a43a1; /* Lighter teal on hover */
}
