<app-menu></app-menu>
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Input Form</title>
    <link rel="stylesheet" href="user-detail.component.css">
</head>
<body>
  <div class="form-container">
    <span class="component-title">{{ title }}</span>
    <p *ngIf="!user">Loading...</p>
    <div *ngIf="user">
      <main class="single">
        <table class="table table-sm">
          <tr>
            <td>Id:</td>
            <td>
              <input [(ngModel)]="user.id" class="rounded" type="number"  disabled/>
            </td>
          </tr>
          <tr>
            <td>Username</td>
            <td>
              <input [(ngModel)]="user.username" class="rounded" type="text" disabled />
            </td>
          </tr>
          <tr *ngFor="let user of users">
            <td>Password:</td>
            <td>
              <input [(ngModel)]="user.password" class="rounded" type="password" disabled />
            </td>
          </tr>
          <tr>
            <td>First Name:</td>
            <td>
              <input [(ngModel)]="user.firstname" class="rounded" type="text"  disabled />
            </td>
          </tr>
          <tr>
            <td>Last Name:</td>
            <td>
              <input [(ngModel)]="user.lastname" class="rounded" type="text" disabled  />
            </td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>
                <input [(ngModel)]="user.phone" class="rounded" type="text" disabled />
            </td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>
                <input [(ngModel)]="user.email" class="rounded" type="text" disabled/>
            </td>
            <tr>
          <td><label for="reviewer">Reviewer:</label></td>
          <td>
            <input [(ngModel)]="user.reviewer" class="rounded" type="checkbox" id="reviewer" name="reviewer" disabled />
          </td>
        </tr>
        <tr>
          <td><label for="admin">Admin:</label></td>
          <td>
              <input [(ngModel)]="user.admin" class="rounded" type="checkbox" id="admin" name="admin" disabled />
          </td>
        </tr>
      </table>
      </main>
      <span >
        <span><button><a routerLink="/user/edit/{{user.id}}" class="btn btn-sm btn-warning">Edit</a></button></span>
        <span> | <button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
    </span>
      <p *ngIf="message">{{ message }}</p>
    </div>
  </div>
</body>


