body {
    font-family: Arial, sans-serif;
    color: aliceblue;
    margin: 0;
    padding: 0;
    
}
.component-title{
    color:#f1f1f4;
    margin-bottom: 10px;
    font-size: 14pt;
}
.purchase-request {
    width: 80%;
    margin: 50px auto;
    background: rgba(43, 46, 47, 0.75); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(254, 253, 253, 0.723);
}

table {
    width: 100%;
    border-collapse: collapse; /* Removes space between borders */
}

table, th, td {
    border: 1px solid #fafefe;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
    background-color: #2d3134;
    color: #f0f5f6;
}

tr:nth-child(even) {
    background-color: #484b4c;
}