<app-menu></app-menu>
<app-menu></app-menu>
<head>
  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Input Form</title>
    <link rel="stylesheet" href="product-detail.component.css">
</head>
<body>
  <div class="form-container">
    <span class="component-title">{{ title }}</span>
    <p *ngIf="!product">Loading...</p>
    <div *ngIf="product">
      <main class="single">
        <table class="table table-sm">
            <tr>
                <td>Vender:</td>
                <td>
                    <input class="rounded" type="text" value="{{product.vendor.name}}" disabled />
                </td>
              </tr>
              <tr>
                <td>Part Number:</td>
                <td>
                    <input [(ngModel)]="product.partNumber" class="rounded" type="text" disabled />
                </td>
              </tr>
              <tr>
                <td>Name:</td>
                <td>
                  <input [(ngModel)]="product.name" class="rounded" type="text" disabled />
                </td>
              </tr>
              <tr>
                <td>Price:</td>
                <td>
                    <input [(ngModel)]="product.price" class="rounded" type="number" disabled />
                </td>
              </tr>
              <tr>
                <td>Unit:</td>
                <td>
                    <input [(ngModel)]="product.unit" class="rounded" type="text" disabled />
                     
                </td>
              </tr>

              <tr>
                <td>Photo Path:</td>
                <td>
                  <img [src]="product.photoPath" alt="product-image" height=auto  width="100px"/>
                </td>
              </tr>
            </table>
          </main>
          <span>
            <span
              ><a
                routerLink="/product/edit/{{ product.id }}"
                class="btn btn-sm btn-warning"
                >Edit</a
              ></span
            >
            <span>
              |
              <button (click)="delete()" class="btn btn-sm btn-danger">
                Delete
              </button></span
            >
          </span>
          <p *ngIf="message">{{ message }}</p>
        </div>
      </div>
</body>



