#reset-this-root {
  all: unset;
}

.fixed-menu {
  display: flex;
  flex-direction: row; /* Align horizontally */
  align-items: center; /* Align vertically at center */
  justify-content: space-between;
  width: 100%;
  font-family: Arial, sans-serif;
  background: rgba(24, 26, 39, 0.5); /* Semi-transparent*/
  color: white;
  position: fixed; /* Fix the position relative to the viewport */
  top: 0; /* Position it at the top of the viewport */
  left: 0;
  z-index: 1000; /* Ensures it stays on top of other content */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Adds a subtle shadow for depth */
}

.no-bullets {
list-style-type: none;
}

.icon-button {
  display: inline-block;
  padding: 1px 1px;
  margin: 1px;   
  
}



.icon-button:hover {
  background-color: #e0e0e0;
}

.fixed-menu nav ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
}

.fixed-menu li {
  float: left;
}

.fixed-menu li a {
  display: block;
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  text-decoration: none;
  color: white;
}

.fixed-menu li a:hover {
  background-color: #555555; /* Lighten the background on hover */
}