
.container {
  display: flex;
  justify-content:space-evenly; /* Ensures even spacing and distribution */
  align-items:baseline; /* Aligns items to stretch to fill the container */
  border-collapse: collapse;
}
.product-carousel {
  align-items: center;

}

button {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  font-size: 24px;
  border: none;
  background-color: transparent;
  color-scheme: dark;
}

body{
  color: #f1f1f4;
}
.user-profile{
  padding: 30px;
  background-color: #2e2f2f;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(254, 253, 253, 0.723);
}

 .summary {
  flex: 1; 
  margin: 20px; 
  padding: 30px;
  background: rgb(6, 6, 6); 
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(254, 253, 253, 0.723);

}

.vertical-table-header {
  display: table-cell;
  padding-top: 8px;
  border: none;
  vertical-align: middle;
  font-weight: bold;
  color: #a0a0a3;

}
.component-title{
  color:#f1f1f4;
  margin-bottom: 10px;
  font-size: 14pt;
}


.vertical-table {
  width: 75%; /* Ensures the tables use the full width of their containers */
  padding: 20px;
}

.vertical-table-cell img {
  max-width: 100%; /* Makes images responsive within the table cells */
  height: auto; /* Maintains aspect ratio */
  padding: 10px;
}


