/* Home Page Component Styles */

html{
    background: rgba(6, 1, 33, 0.75);
    height: 100%;

}

.form-container body {
    background: image-set("assets/home.jpg" ) !important;
    object-fit: cover;
    max-width: 600px;
    height: auto;
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    color: azure;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), /* Outer shadow for depth */
              inset 0px 1px 2px rgba(255, 255, 255, 0.8); /* Inner light for inset effect */
    border-radius: 10px; 
    
}
h1{
    contain: content;
    font-size: 24pt;
    text-shadow: 2px 2px 5px rgb(13, 5, 65);
}
h2{
    font-size: 12pt;
}
.home-main{
    font-size: 11pt;
}

.no-bullets {
    list-style-type: none;
    }
  
  .home-footer {
     
      text-align: center;
      font-size: 8pt;
      color: azure;
      padding: 10px;
      bottom: 0;
      width: 100%;
  }