<app-menu></app-menu>
<html>
<div class="form-container">
    <body>
            <h1>Purchase Request System</h1>

        <main class="home-main">
            <section class="intro">
                <a routerLink="/user/login">
                  <img width="350" height="350" src="assets/prslogo.png" alt="login" title="login" />
            </a>
                <h2>Welcome</h2>
                <p>Here, enchanting beings from all corners of fantasy can seamlessly secure essentials, ensuring that they have what they need to thrive in their magical ecosystems. </p>
            </section>
        </main>

        <footer class="home-footer">
            <p>© 2024 Company Name. All rights reserved.</p>
        </footer>
    </body>
</div>
</html>