body {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    margin: 0;
    padding: 0;

}
.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(8, 69, 71, 0.75);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
        inset 0px 1px 2px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    direction: initial;
}

table {
    width: 100%;
    border-collapse: collapse;
}
.table table-sm {
    display: flex;
    flex-direction: column;
}
.component-title {
    color: #f1f1f4;
    margin-bottom: 10px;
    font-size: 14pt;
}

label {
    margin-bottom: 5px;
    font-size: 12pt;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="datetime"]  {
    padding: 10px;
    margin-bottom: 20px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: #112736;
    color: #f0f8ff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4),
        inset 0px 1px 2px rgba(255, 255, 255, 0.8);

}

#drop {
    padding: 10px;
    margin-bottom: 20px;
    width: 215px;
    border: none;
    border-radius: 5px;
    background-color: #112736;
    color: #f0f8ff;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4),
        inset 0px 1px 2px rgba(255, 255, 255, 0.8);
}

td {
    color: #f1f1f4;
    align-items: normal;
    
}


button {
    padding: 10px 20px;
    background-color: #1d4763;
    color: #e4f9f5;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #437ea1;
    /* Lighter teal on hover */
}