body {
    font-family: Arial, sans-serif;
    color: aliceblue;
    margin: 0;
    padding: 0;

}

.form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: rgba(6, 27, 65, 0.75); /* Semi-transparent*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2), /* Outer shadow for depth */
                inset 0px 1px 2px rgba(255, 255, 255, 0.8); /* Inner light for inset effect */
      border-radius: 10px;
}
table {
    width: 100%;
    border-collapse: collapse; /* Removes space between borders */
}

.table table-sm {
    display: flex;
    flex-direction: column;
}
.component-title{
    color:#f1f1f4;
    margin-bottom: 10px;
    font-size: 14pt;
}

label {
    margin-bottom: 5px;
    font-size: 12pt;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="datetime"]
 {  color-scheme: dark;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #112736; 
    color: #f0f8ff; /* Light text color */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4), /* More pronounced shadow on focus */
    inset 0px 1px 2px rgba(255, 255, 255, 0.8); /* Inner light for inset effect */
}



button, a{
    padding: 10px 20px;
    background-color: #1d4c63; /* Teal color for the button */
    color: #e4f9f5; /* Light teal text */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #4377a1; /* Lighter teal on hover */
}
a:link{
    color:aliceblue;
    text-decoration: none;

}

a:visited{
    color: #112136;
}
