<app-menu></app-menu>

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Input Form</title>
  <link rel="stylesheet" href="request-edit.component.css">
</head>

<body>
  <div class="form-container">
    <span class="component-title">{{ title }}</span>
    <p *ngIf="!request">Loading...</p>
    <div *ngIf="request">
      <main class="single">
        <table class="table table-sm">
          <tr>
            <td>User:</td>
            <td>
              <input class="rounded" type="text" value="{{request.user.firstname}}, {{request.user.lastname}}" />
            </td>
          </tr>
          <tr>
            <td>Description:</td>
            <td>
              <input [(ngModel)]="request.description" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>Justification:</td>
            <td>
              <input [(ngModel)]="request.justification" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>DateNeeded:</td>
            <td>
              <input [(ngModel)]="request.dateNeeded" class="rounded" type="date" />
            </td>
          </tr>
          <tr>
            <td>DeliveryMode:</td>
            <td>
              <select [(ngModel)]="request.deliveryMode" class="rounded" id="drop">
                <option value="pickup">Pick-up</option>
                <option value="delivery">Delivery</option>
                <option value="magic">Magic Courier</option>
                <option value="eagle">Enchanted Eagle</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label for="status">Status:</label></td>
            <td>
              <select [(ngModel)]="request.status" id="drop" name="status">
                <option value="review">Review</option>
                <option value="approved">Approved</option>
                <option value="rejected">Rejected</option>
                <option value="new">New</option>
              </select>
            </td>
          </tr>

          <tr>
            <td>Total:</td>
            <td>
              <input [(ngModel)]="request.total" class="rounded" type="number" />
            </td>
          </tr>
          <tr>
            <td>Submitted Date:</td>
            <td>
              <input [(ngModel)]="request.submittedDate" class="rounded" type="date" />
            </td>
          </tr>
          <tr>
            <td>Reason for Rejection:</td>
            <td>
              <input [(ngModel)]="request.reasonForRejection" class="rounded" type="text" />
            </td>
          </tr>
        </table>
      </main>
      <span><button (click)="save()" class="btn btn-sm btn-primary">
          Save
        </button></span>
    </div>
  </div>
</body>