/* You can add global styles to this file, and also import other style files */
/* Base styling for body and content area */



body,
html {
  height: 100%;
  padding-top: 30px;
  background-image: url('assets/background.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
}


/* .content {
  position: relative;
  margin: 50px auto;
  padding: 50px;
  background: white; 
  width: 80%; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
}


.content > .left-border {
  position: absolute;
  top: 0; left: -20px; bottom: 0;
  background: url('assets/background.jpeg') no-repeat;
  width: 20px;
}

.content > .right-border {
  position: absolute;
  top: 0; right: -20px; bottom: 0;
  background: url('assets/images/right-border.png') no-repeat;
  width: 20px;
}


.corner {
  position: absolute;
  width: 40px;
  height: 40px;
}



.bottom-left {
  bottom: -20px;
  left: -20px;
  background: url('assets/images/left-border.png') no-repeat;
}

.bottom-right {
  bottom: -20px;
  right: -20px;
  background: url('assets/images/right-border.png') no-repeat;
} */